name: 自动同步上游仓库

permissions:
  contents: write

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch: 

jobs:
  sync_with_upstream:
    runs-on: ubuntu-latest
    name: Sync with Upstream

    steps:
    - name: Checkout target repo
      uses: actions/checkout@v3
      with:
        ref: master             # 强制指定检出 master 分支
        fetch-depth: 0 

    - name: Configure Git
      run: |
        git config --global user.name 'GitHub Actions Bot'
        git config --global user.email 'actions@github.com'

    - name: Sync upstream changes
      run: |
        git remote add upstream https://github.com/ACL4SSR/ACL4SSR.git
        git fetch upstream
        git checkout master
        git merge upstream/master
        git push origin master
